<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lisg.book.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="common.entity.Book">
    <id column="book_id" jdbcType="BIGINT" property="bookId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="book_type" jdbcType="VARCHAR" property="bookType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="word_count" jdbcType="INTEGER" property="wordCount" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <select id="selectBook" parameterType="map" resultMap="BaseResultMap">
    select book_id,
            title,
            book_type,
            description,
            author,
            word_count,
            status,
            publish_time,
            create_time
      from book
     where 1=1
    <if test="bookId != null">
       and book_id = #{bookId,jdbcType=BIGINT}
    </if>
    <if test="author != null and author != ''">
       and author = #{author,jdbcType=VARCHAR}
    </if>
    <if test="title != null and title != ''">
       and title = #{title,jdbcType=VARCHAR}
    </if>

  </select>

  <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
    select id,
            title,
            auth,
            word_count,
            publish_date
      from book
  </select>

  <delete id="deleteById" parameterType="map">
    delete from book
     where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="common.entity.Book">
    insert into book (
      book_id,
      title,
      book_type,
      description,
      author,
      word_count,
      status,
      publish_time,
      create_time
    ) values (
      #{bookId,jdbcType=BIGINT},
      #{title,jdbcType=VARCHAR},
      #{bookType,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR},
      #{author,jdbcType=VARCHAR},
      #{wordCount,jdbcType=INTEGER},
      #{status,jdbcType=VARCHAR},
      #{publishTime,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <update id="updateById" parameterType="common.entity.Book">
    update book
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="auth != null">
        auth = #{auth,jdbcType=VARCHAR},
      </if>
      <if test="wordCount != null">
        word_count = #{wordCount,jdbcType=INTEGER},
      </if>
      <if test="publishDate != null">
        publish_date = #{publishDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>